<%= form_for @post do |f| %>
        	<% if @post.errors.any? %>
        		<div id="errors">
        			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
        			<ul>
        				<% @post.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
        				<% end %>
        			</ul>
        		</div>
        	<% end %>
        	<%= f.text_field :title, placeholder: "Title" %><br>
        	<br>
        	<%= f.text_field :location, placeholder: "Location" %><br>
        	<br>
        	<%= f.text_field :you_are, placeholder: "What type of founder are you?" %><br>
        	<br>
        	<%= f.text_field :looking_for, placeholder: "What type of founder are you looking for?" %><br>
        	<br>
        	<%= f.text_field :company, placeholder: "Company" %><br>
        	<br>
        	<%= f.text_area :description, placeholder: "Describe your business"  %><br>
        	<br>
        	<%= f.text_area :requirements, placeholder: "What are you looking in a cofounder?"  %><br>
        	<br>
        	<%= f.text_field :salary, placeholder: "Salary" %><br>
        	<br>
        	<%= f.text_field :equity, placeholder: "Equity" %><br>
        	<br>
        	<%= f.text_field :product_cycle, placeholder: "What stage are you in?" %><br>
        	<br>
        	<%= f.submit "Post", class: "btn waves-effect waves-light" %>
        <% end %>